/*Padrão*/
* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background: linear-gradient(0deg, rgb(60, 37, 89) 0%, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 1) 100%);
    color: #fff;
}

/*Inicio das estrelas*/
.star {
  z-index: 1;
  position: absolute;
  top: -10px; /* Começa acima da tela */
  width: 5px;
  height: 5px;
  background-color: #fff; /* Cor das estrelas */
  border-radius: 50%; /* Forma circular */
  opacity: 0.8;
  animation: fall linear forwards; /* Animação de queda */
}

@keyframes fall {
  to {
      transform: translateY(100vh); /* Move a estrela até o fundo da tela */
      opacity: 0; /* Desaparece ao final da animação */
  }
}

/*Fim de estrelas*/

/*Início barra de navegação*/
header{
    width: 100%;
    background-color: rgb(0, 0, 0);
}

nav {
    display: flex;
    margin: auto;
    justify-content: center;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: rgb(0, 0, 0);
    
}

.menu {
    width: 45%;
    background-color: #000000;
    list-style-type: none; 
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    margin: auto;
}

.menu a {
    text-decoration: none; 
    color: #fff; 
    font-size: 20px; 
    margin: auto;
    transition: transform 0.3s ease, color 0.3s ease; 
}

.menu li {
    transition: transform 0.3s ease, color 0.3s ease; /* Transição suave para transform e cor */
}

.menu li:hover {
    transform: scale(1.2) ; /* Aumenta o tamanho do link ao passar o mouse */
}

a:hover{
    color: rgb(228, 203, 251);
}
/*Fim de navegação*/

/*Inicio do SOBRE*/
#sobre{
  margin-top: 10%;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  height: auto;
  padding: 5% 0 ;
}

.cont-text{
  width: 50%;
}

.imgfoto{
    background-image: url('../img/menina.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    width: 40%;
    height: auto;
}
.titu{
    font-size: 25px;
    text-align: left;
}

.typed {
  display: inline-block; 
  overflow: hidden; 
  white-space: nowrap; 
  border-right: 2px solid #fff; 
  animation: typing 4s steps(90, end) forwards, blink-caret 0.75s step-end infinite; 
}

@keyframes typing {
  from {
      width: 0;
  }
  to {
      width: 50%;
  }
}

@keyframes blink-caret {
  from, to {
      border-color: transparent;
  }
  50% {
      border-color: transparent; 
  }
}

.tex-sobre{
    font-size: 18px;
    font-weight: 600;
    
    text-align: justify;
    line-height: 1.3;
    padding: 2px;
}



/*Fim do Sobre*/

/*Todos os h1*/
h1{
    text-align: center;
    font-size: 35px;
}

/*Inicio de PROJETOS*/
.container-card{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    height: auto;
}

.card{
    margin: 3%;
    border-radius: 5px;
    height: 400px;
    width: 300px;
    background-color: black;
    box-shadow: 5px 5px  10px #cbacf854 ;

}

.img{
    margin: 10px;
    height: 200px;
    border-radius: 5px;
    background-color: #28006d;
}

#img1{
    background-image: url('../img/jmmotopecas.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#img2{
    background-image: url('../img/Screenshot\ 2025-02-25\ at\ 20-47-49\ Rei\ da\ Cozinha.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.descr{

    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
}

.cont-buttom{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
}

.Btn {
    
    width: 120px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    /* overflow: hidden; */
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s;
}

.cont-buttom{
  margin: 25px 0;
}

.Btn:hover  {
  transform: scale(1.1);
  transform-origin: bottom;
}

.Btn:hover .svgContainer {
  background-color: rgba(76, 0, 124, 0.466);
  backdrop-filter: blur(4px);
}

.svgContainer {
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    padding: 4px 10px;
    font-weight: 600;
    color: #fff;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all .3s;
    border: 1px solid rgb(255, 255, 255);
}

.p{
    margin-left: 5px;
}

.p2{
    margin-right: 5px;
}
/*Fim de Projetos*/

/*Iicio de HABILIDADES*/
.container-card{
    display: flex;
    flex-wrap: wrap;
}
.card-habi {
    margin: 2%;
    width: 180px;
    height: 180px;
    position: relative;
    display: flex;
    background-color: black;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 10px;
    
}

.card-habi h2 {
    z-index: 1;
    color: white;
    font-size: 2em;
}
  
.card-habi::before {
    content: '';
    position: absolute;
    width: 50%;
    background-image: linear-gradient(180deg, rgb(98, 70, 191), rgb(168, 114, 249));
    height: 180%;
    animation: rotBGimg 8s linear infinite;
    transition: all 0.2s linear;
}
  
@keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
}
  
.card-habi::after {
    content: '';
    position: absolute;
    inset: 5px;
    border-radius: 10px;
}  

#a1::after {
    background-image: url('../img/HTML.png');
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} 

#a2::after {
    background-image: url('../img/CSS.png')
    ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} 

#a3::after {
    background-image: url('../img/JAVASCRIPT.png')
    ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} 

#a4::after {
    background-image: url('../img/REACT.png')
    ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} 
#a5::after {
    background-image: url('../img/PHP.png')
    ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} 

#a6::after {
    background-image: url('../img/MySQL.png')
    ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  } 

/*Inicio Contatos*/
.p-ul{
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin: 10px;
}

.wrapper {
    display: inline-flex;
    list-style: none;
    height: 120px;
    width: 100%;
    padding-top: 10px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
    margin-top: 10px;
}
  
.wrapper .icon {
    position: relative;
    background: #000000;
    z-index: 0;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  
.wrapper .icon::after {
    content: "";
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: transparent;
    z-index: -1;
    border-radius: 50%;
    top: 100%;
}

.wrapper .icon:hover:after {
    animation: bg-pos 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1 both;
    animation-timing-function: ease-in-out;
}
  
.wrapper .icon:hover {
    color: #fff;
    overflow: unset;
    transition: color 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    animation: overflow-toggle 0.7s;
}
  
.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  
.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  
.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
  
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .mail::after {
    background-color: #c10000;
}

.wrapper .linkedin::after {
    background-color: #1877f2;
}

.wrapper .github::after {
    background-color: #28006d;
}

.wrapper .whats::after {
    background-color: #109e00;
}

.wrapper .instagram::after {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}
  
.wrapper .mail:hover .tooltip,
.wrapper .mail:hover .tooltip::before {
    background: #c10000;
    color: #fff;
}
  
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
    background: #1877f2;
    color: #fff;
}

.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
    background: #28006d;
    color: #fff;
}

.wrapper .whats:hover .tooltip,
.wrapper .whats:hover .tooltip::before {
    background: #109e00;
    color: #fff;
}

.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: #fd5949;
    color: #fff;
}

a{
    color: #fff;
}
@keyframes bg-pos {
    0% {
      top: 100%;
    }
    100% {
      top: 0;
    }
}
  
@keyframes overflow-toggle {
    0% {
      overflow: hidden;
    }
    100% {
      overflow: visible;
    }
  }
/*Fim contatos*/

footer{
    padding: 25px;
    text-align: center;
    font-size: 18px;
}

/* Media Query */
@media (max-width: 412px) {
    nav{
        display: none;
        width: 100%;
        margin: auto;
    }
    .menu{
        width: 95%;
    }
    .menu a {
       
        font-size: 18px; 
    }
}

@media (max-width: 680px) {
nav{
    width: 100%;
    margin: auto;
}
.menu{
    width: 95%;
}
.menu a {
    
    font-size: 18px; 
}

#sobre {
    display: flex;
    flex-direction: column-reverse; 
    align-items: center;
}

.cont-text {
    width: 80%;
}

.imgfoto {
    width: 90%; 
    margin-top: 20px; 
    background-image: url('../img/menina.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
    height: 200px;
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 105%;
    }   
}

.card-habi {
    margin: 2%;
    width: 120px;
    height: 120px;
    position: relative;
    display: flex;
    background-color: black;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 10px;

}
}

/*@media (max-width: 576px) {
nav{
    background-color: #1877f2;
    width: 100%;
    margin: auto;
}
.menu{
    background-color: #c10000;
    width: 100%;
}
.menu a {
    font-size: 16px; 
}

#sobre {
    display: flex;
    flex-direction: column-reverse; 
    align-items: center;
}

.cont-text {
    width: 80%;
}

.imgfoto {
    width: 90%; 
    margin-top: 20px; 
    background-image: url('../img/menina.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
    height: 200px;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 110%;
    }
  }

  .card-habi {
    margin: 2%;
    width: 120px;
    height: 120px;
    position: relative;
    display: flex;
    background-color: black;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 10px;
    
}
    
}
*/
@media (max-width: 850px) {
    nav{
        width: 100%;
        margin: auto;
    }
    .menu{
        width: 90%;
    }
    .menu a {
        font-size: 20px; 
    }
    @keyframes typing {
        from {
            width: 0;
        }
        to {
            width: 110%;
        }
      }
    
}

/*@media (max-width: 360px) {
    nav{
        width: 100%;
        margin: auto;
    }
    .menu{
        background-color: #109e00;
        width: 90%;
    }
    .menu a {
        font-size: 18px; 
    }
    
}